.container{
    display: flex;
    justify-content: space-around;
}
.calculate-container{
    width: 20%;
}
.team-cart{
    max-width: 350px;
    height: auto;
    border: 2px solid purple;
    text-align: center;
    color: white;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.card-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-img img{
    border-radius: 100%;
    margin: 0.5rem;
}
/*  */
@media (min-width: 300px) and (max-width: 900px) {
    .team-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
  }
.btn-cart{ 
      background-color: #EA4C89;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 5px;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-1:hover,
    .button-1:focus {
      background-color: #da88a7;
    }

